body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    background: #3B5382;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B5382 0%, #32BBAA 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B5382 0%, #32BBAA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:  cover;
}

.content-container {
    display: block;
    max-width: 65%;
    margin: 0 auto;
    padding: 5em;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
    min-height: 50px;
    max-height: 178px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.title p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color:#FFF;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 5%;
}

.content {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #FFF;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color:#32BBAA;
    text-align: center;
}

.inside-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.inside-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    color:#32BBAA;
    text-align: left;
}

.contact-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    color:#3B5382;
    text-align: left;
}

.first-line {

}

.second-line {

}

.third-line {

}

.appstore-tag {

}

.playstore-tag {

}