body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    background: #3B5382;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B5382 0%, #32BBAA 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B5382 0%, #32BBAA 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:  cover;
}

.content-container {
    display: block;
    max-width: 65%;
    margin: 0 auto;
    padding: 3em;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 150px;
    margin-bottom: 5%;
}

.title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.title hr {
    border: 1.5px solid white;
}
.title p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color:#FFF;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 5%;
    line-height: 45px;
    margin-top: -22px;
}
.title span {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFF;
}
.content {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #FFF;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%;
}

.main-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 80%;
}

.main-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color:#32BBAA;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.green-line {
    background-color: #32BBAA;
    width: 34%;
    height: 0.2rem;
    align-self: center;
}

.inside-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    background-color: #FFF;
}


.inside-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    color:#32BBAA;
    text-align: left;
    padding-top: 0;
    margin-right: 2rem;
}

.contact-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color:#3B5382;
    text-align: left;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

}

.contact-text img {
    margin-right: 5%;
}

.first-line {
    display: flex;
    min-width: 60%;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.arrow {
    margin: 0;
    padding: 0;
    width: 1.8rem;
}

.second-line  {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
}

.third-line {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: flex-end;
}

.appstore-tag {
 
}

.playstore-tag {

}

@media (min-width: 769px) and (max-width: 1300px) {
    .third-line {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
}